registry=https://registry.npmjs.org/
@wavemaker:registry=https://repository.wavemaker.com/repository/wavemaker-npm-repo/
@wavemaker-ai:registry=https://repository.wavemaker.com/repository/wavemaker-npm-repo/
